.to-do-list{
    text-align: center;
}

h1{
    font-size: 6rem;
    color: rgb(88, 184, 184);
}

button{
    font-size: 1.3rem;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;   
    transition: background-color 0.3s ease;
}

.add-button {
    font-size: 2rem;
    padding: 5px;
    background-color: rgb(88, 184, 184);
    color: rgb(240, 240, 240);
    border: none;
}

.delete-all-button {
    border: none;
    padding: 5px;
    font-size: 2rem;
    background: none;
}

input{
    font-size: 2rem;
    padding: 5px;
    width: 50%;
    border: none;
}

li{
    font-size: 2rem;
    margin-bottom: 10px;
    list-style-type: none;
    font-size: 1.3rem;
    padding: 5px;
    display: flex;
    align-items: center;
}

ol {
    padding: 0;
}

.text {
    /* grows and shrinks */
    flex: 1;
}

.completed { 
    flex: 1;
    text-decoration: line-through;
    color: rgb(167, 167, 167);
}

input[type="checkbox"] {
    margin-right: 10px;
    min-width: 20px;
    min-height: 20px;
    accent-color: rgb(88, 184, 184);
    color: white;
    cursor: pointer;
}

.delete-button {
    background-color: rgb(216, 25, 25);
    color: rgb(240, 240, 240);
    border: none;
    font-weight: bold;
    cursor: pointer;
}